.annotate {
  font-style: italic;
  color: #366ed4;
}

.hidden {
  display: none;
}

.comboboxWrapper {
  display: inline-block;
  position: relative;
  font-size: 16px;
}

.sm {
  color: red;
}

.comboboxLabel {
  font-size: 14px;
  margin-right: 5px;
}

.input {
  border: 0;
  background: none;
}

.input:focus {
  outline: none;
}

.listbox,
.grid {
  max-width: 230px;
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1.7em;
  z-index: 1;
}

.listbox .result {
  cursor: default;
  margin: 0;
}

.grid .resultRow {
  padding: 2px;
  cursor: default;
  margin: 0;
}

.listbox .result:hover,
.grid .resultRow:hover {
  background: rgb(139, 189, 225);
}

.listbox .focused,
.grid .focused {
  background: rgb(139, 189, 225);
}

.combobox {
  padding: 0.5rem;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.grid .focusedCell {
  outline-style: dotted;
  outline-color: green;
}

.comboboxWrapper input {
  background-color: rgb(0,0,0,0);
    border-radius: 0;
  line-height: 1.5em;
  padding-right: 30px;
  width: 200px;
}

.comboboxDropdown {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 0 2px;
  height: 1.5em;
  border-radius: 0 2px 2px 0;
  border: 1px solid #aaa;
}

.grid .resultCell {
  display: inline-block;
  cursor: default;
  margin: 0;
  padding: 0 5px;
}

.grid .resultCell:lastChild {
  float: right;
  font-size: 12px;
  font-weight: 200;
  color: #333;
  line-height: 24px;
}