.scheduleCcontainer {
   
}

.scheduleWrapper .schedule {
    display: flex;
    background: #FFF1DA;
    margin-bottom: 9px;
    padding: 7px;
    border-radius: 5px;
}

.schedule .scheduleImg {
    width: 60px;
    height: 55px;
    margin-right: 10px;
}

.scheduleImg img {
    width: 100%;
    height: 100%;
}

.scheduleDetails  {
    justify-content: center;
    align-items: center;
}

.scheduleDetails h3{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
}
.scheduleDetails h2{
    font-weight: 200;
    font-size: 10px
}