.all {
    display: flex;
    flex-direction: column;
    row-gap: .2rem;
}

.entry {
    display: flex;
    flex-direction: row;
    gap: .2rem;
}

.numInput {
    max-width: 37px;
    background-color: rgb(0,0,0,0);
    border: .1rem solid;
    border-radius: 0;   
}