/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
} */
.footer__container {
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.footer__row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  padding: 20px;
}
.footer__content {
  width: 25%;
  padding: 20px;
}
.footer__content h2 {
  margin: 10px 0;
  color: #080809;
  font-size: 20px;
  font-weight: 900;
  text-align: left;
}
.footer__content p {
  font-size: 16px;
  color: #5e6282;
  text-align: left;
}
.footer__content ul {
  list-style-type: none;
}
.footer__content ul li a {
  display: block;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #5e6282;
}
.footer__row .right {
  width: 100%;
  margin: 25px auto;
}
@media screen and (max-width: 700px) {
  .footer__row {
    flex: none;
  }
  .footer__content {
    width: 100%;
  }
}
