.container {
    margin-bottom: 30px;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.nameWrapper {
    display: block;
}

h1 {
    font-size: 16px;
    font-weight: 400;
}

.links {
    text-decoration: none;
}