.tab-list {
  padding: 0.8rem 2rem;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background 0.3s ease-in;
}
.tab-list-active {
  background: #faf5ec;
  border-left: 4px solid #f1a501;
}

.tab-list:hover {
  background: #faf5ec;
  border-left: 4px solid #f1a501;
}

.tab-list:hover a {
  color: #f1a501;
}

.tab-list a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(190, 184, 184);
  font-weight: 500;
}
.tab-list-active a {
  color: #f1a501;
}

.tab-list a span {
  margin-left: 10px;
}
